Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.vscode/settings.json
week_03/images/salience_01.png
week_03/images/salience_02.png
week_03/images/salience_03.png
week_03/images/salience_04.png
week_03/images/salience_05.png
week_03/images/salience_06.png
week_03/images/salience_07.png
week_03/images/salience_08.png
week_03/images/salience_09.png
week_03/images/salience_10.png
week_03/images/salience_11.png
week_03/images/salience_12.png
week_03/images/salience_13.png
week_03/images/salience_14.png
week_03/images/salience_15.png
week_03/images/salience_16.png
week_03/images/salience_17.png
week_03/images/salience_18.png
week_03/images/salience_19.png
week_03/images/salience_20.png
analytical/
refs/
*.zip
*.json
*.pdf
*.pyc